name: Build and Test
on:
  pull_request_target:
    types: [opened, synchronize]
jobs:
  build_and_test:
    name: Build and Test
    runs-on: ubuntu-latest
    environment: Production
    permissions:
      checks: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          fetch-depth: 0
          ref: ${{github.event.pull_request.head.sha}}
      - name: Setup Node.js
        uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8
        with:
          node-version: 20.x
      - name: Update to latest npm (temporary fix for audit below)
        run: npm install --global npm
      - name: Install dependencies
        run: npm clean-install
      - name: Build
        run: npm run build
